@font-face {
    font-family: 'BYekan' ;
    src: url('../fonts/BYekan.eot') format('eot'),
    url('../fonts/BYekan.ttf') format('ttf'),
    url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: BYekan;
}

body {
    background-image: url("../img/img-p2/bg.png");
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

.row-margin, .col-margin {
    margin-top: 15px;
}

.modal {
    overflow-y: hidden;
}

/**********header***********/
header {
    min-height: 180px;
    background: url("../img/img-p2/header.jpg") no-repeat center scroll;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

.header-menu-link li a {
    color: #fff;
    text-decoration: none;
}

.header-menu-link li {
    margin: 10px 3px 4px 0px;
}

.logo-title h1, h3 {
    color: #fff;
}

.logo-title img {
    margin-left: 20px;
}

.cl-effect-2 a {
    line-height: 28px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.cl-effect-2 a span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    color: yellow;
    border-bottom: 1px solid #ccc;

}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {

}

/****************scroll to top btn styles*********************/
.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    border-radius: 100%;
    display: none;
}

/************main menu************/
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.menu-main-container {
    background-color: #050084;
    z-index: 999;
}

.navbar-custom {
    border: none;
}

.navbar-toggle-custom {
    border: 1px solid #fff;
}

.navbar-toggle-custom span {
    background-color: #fff;
}

.icon-bars {
    color: yellow;
    font-size: 20px;
    margin: 8px auto;
}

.icon-search {
    color: #fff;
    font-size: 20px;
    margin: 8px auto;
}

.icon-sign {
    color: orange;
    font-size: 20px;
    margin: 8px auto;
}

@media (max-width: 768px) {
    .navbar-toggle-custom {
        float: right;
        margin-right: 15px;

    }
}

.navbar-nav-custom li a {
    line-height: 26px;
    color: #fff;
}

.navbar-nav-custom li a:hover {
    color: #0bec0a;
    background: 0 0;
}

.navbar-nav-custom li a:focus {
    color: orange;
    background: 0 0;
}

.sub-menu {
    background-color: #050084;
    border: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: 0 0;
    border: none;
}

ul.dropdown-menu > li.open > a {
    color: yellow;
    background: 0 0;
}

ul.dropdown-menu a.dropdown-toggle {
    background: 0 0;
    color: yellow;
}

.navbar-collapse {
    max-height: none;
}

/*************************************modal styles*****************************************/
.modal-header-custom {
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
}

/********************************login form***************************************/
.panel-heading-custom {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.panel-custom {
    padding: 0px;
    width: 300px;
}

@media (max-width: 768px) {
    .panel-custom {
        padding: 0px;
        width: 200px;
    }
}

/**********************off canvas style**************************/
.navmenu-custom {
    background-color: #07079e;
    box-shadow: 1px 0px 8px 1px #000;
    -moz-box-shadow: 1px 0px 8px 1px #000;
    -webkit-box-shadow: 1px 0px 8px 1px #000;
    -o-box-shadow: 1px 0px 8px 1px #000;
}

.navmenu-custom a {
    color: #fff;
}

.navmenu-nav li a:hover {
    background: 0 0;
    color: yellow;
}

.navmenu-nav li a:focus {
    background-color: transparent;
    border-right: 1px solid yellow;
}

.submenu-offcanvas {
    background-color: #050084;
}

.submenu-offcanvas li a {
    background-color: #fff;
}

.submenu-offcanvas li a:focus {
    background: 0 0;
    color: yellow;
}

.badge-offcanvas {
    background-color: yellow;
    color: #000;
    margin-right: 20px;
}

/*slider*/

.rslides {
    margin: 0 auto 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
  }*/

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

/*a {
  color: #fff;
  text-decoration: none;
  }

#download {
  background: #333;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 60px auto;
  max-width: 500px;
  padding: 20px;
  }*/

/*#download:hover {
  background: rgba(255,255,255,.15);
  }

.footer {
  font-size: 11px;
  }*/

/* Callback example */

/*h3 {
  font: 20px/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  }*/

.events {
    list-style: none;
}

.callbacks_container {
    margin-bottom: 15px;
    position: relative;
    /* float: left;*/
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../img/img-p2/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

/*#slider3-pager a {
  display: inline-block;
}

#slider3-pager img {
  float: left;
}

#slider3-pager .rslides_here a {
  background: transparent;
  box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
  padding: 0;
}*/

@media screen and (max-width: 600px) {
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .callbacks_nav {
        top: 47%;
    }
}

/*************************collapse menu*******************************/
.panel-group-custom {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.panel-heading-custom {
    background-color: #69d2e7;
    color: #fff;
}

.cla-icon {
    color: #ccc;
    font-size: 11px;
    /* border: 1px solid #ccc;
     padding: 2px;*/
}

.collapse-nav {
    font-size: 13px;
}

.collapse-item {
    padding: 0px;
}

/*excerpt topic*/
.topic-title h1 a {
    font-size: 18px;
    color: #0020ff;
}

.topic-title h1 a:hover {
    opacity: .7;
}

.topic-title h1 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin: 0px 2px 4px 2px;
    padding-bottom: 10px;
}

.topic-title p {
    text-align: justify;
    line-height: 24px;
}

.panel-body-custom {
    padding: 7px;
}

.panel-heading-custom-excerpt {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
    min-height: 30px;
    position: relative;
}

.panel-heading-custom-excerpt li a {
    color: #fff !important;
    margin-right: 3px;
}

.panel-heading-custom-excerpt i.fa {
    margin-left: 3px;
}

.angle {
    position: absolute;
    left: 7px;
    top: -15px;
    height: 0px;
    width: 0px;
    border: 8px solid #4F54B6;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    /* border-bottom-color:#fff ;*/
}

/****************************pagination******************************/
.mypagination {
    display: table;
    margin: 0 auto;
}

.mypagination ul li {
    display: inline;
}

.pagination li a {
    color: #999;
}

.pagination > .active > a {
    background-color: orange;
}

.pagination > .active > a:hover {
    background-color: #d78b26;
}

/***********newsletter styles******************/
.news-letter-panel-heading {
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 6px;
}

.news-letter-footer ul li a {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.news-letter-footer ul li a:hover {
    opacity: .5;
}

.news-letter-panel-body p {
    padding-bottom: 20px;
}

/***********************sidebar tabs menu***********************/
.tabs {
    background-color: #fff;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

.nav-tabs-custom {
    background-color: #ff5d56;
}

.nav-tabs-custom li a {
    border: none !important;
    color: #fff;
}

.nav-tabs-custom li a:hover {
    background: 0 0;
    color: yellow;
}

.nav-tabs-custom li.active {
    border-bottom: 2px solid yellow;
    color: yellow;
}

.nav-tabs-custom > li.active > a, .nav-tabs-custom > li.active > a:hover, .nav-tabs-custom > li.active > a:focus {
    background: 0 0;
    color: yellow;
}

.tab-content-custom ul {
    padding: 10px;
}

/*************comments section styles***************/
.panel-heading-comments, .panel-heading-progress {
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding: 6px;
}

.comments-scroll {
    padding: 0;
}

.news-item {
    padding: 5px;
    border-bottom: 1px dotted #ccc;
}

.comm-img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    margin-left: 5px;
}

.news-item a {
    color: #000;
}

.news-item a:hover {
    opacity: .7;
}

/*********************footer styles*******************************/
footer {
    background-color: #3c3c3c;
}

.sta-title {
    background-color: #16ccca;
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 0 #000;
    -webkit-box-shadow: 0 2px 0 #000;
    -moz-box-shadow: 0 2px 0 #000;
}

footer p {
    color: #fff;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

.site-sta, .site-section {
    font-size: 13px;
    color: #c3c3c3;
    padding-top: 10px;
}

.site-sta, .site-section i {
    margin-left: 5px;
}

.section-title {
    background-color: #34c656;
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 0 #000;
    -webkit-box-shadow: 0 2px 0 #000;
    -moz-box-shadow: 0 2px 0 #000;
}

.site-section li {
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

.site-section li:hover {
    transform: translate(-10px, 0);
    -webkit-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
}

.site-section li a {
    color: #c3c3c3;
}

.site-section li a:hover {
    color: yellow;
}

.about-title {
    background-color: #f8812d;
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 0 #000;
    -webkit-box-shadow: 0 2px 0 #000;
    -moz-box-shadow: 0 2px 0 #000;
}

.footer-about {
    text-align: right;
    font-size: 12px;
}

i.fa-th-list, i.fa-bar-chart {
    margin-left: 10px;
    font-size: 20px;
}

.site-sta i.fa {
    margin-left: 5px;
}

.copy-right {
    color: orange
}

.footer-link {
    display: table;
    margin: 0 auto
}

.footer-nav {
    border-top: 1px solid #2c2c2c;
}

.footer-link i {
    margin-left: 5px;
    color: orange
}

.footer-link li a {
    color: #c3c3c3
}